<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSS 动画</title>
  <style>
    .move-block{
      width: 40px;
      height: 50px;
      border: 1px solid red;
      animation: run-around 4s infinite;
    }
    @keyframes run-around {
      0%: {
        transform: translate(0, 0);
      }

      25% {
        transform: translate(200px, 0);
      }

      50% {
        transform: translate(200px, 200px);
      }

      75% {
        transform: translate(0, 200px);
      }
    }
    /* CSS 设置table中tr的行间距 */
    /* table上设置 */
    /* border-collapse:separate;
    border-spacing:0px 10px */
  </style>
  <script>
    //  二、 滚动分页
    function scrollPage() {
      var tableContent = document.querySelector('.ant-table-body');
      tableContent.addEventListener('scroll', (event) => {
        // checking whether a selector is well defined
        console.log('yes, I am listening')
        let maxScroll = event.target.scrollHeight - event.target.clientHeight
        let currentScroll = event.target.scrollTop
        if (currentScroll === maxScroll) {
            // load more data
        }
      })
    }

  // 三、 滚动定位 可使用dom-scroll-into-view 库
  function scrollPositon() {
    var scrollIntoView = require('dom-scroll-into-view');
    scrollIntoView(source,container,config);
  }
    Promise.resolve().then(() => {
      console.log(1)
      Promise.resolve().then(() => {
        console.log(2)
      }).then(() => {
        console.log(4)
      })
    })
    setTimeout(() => {
      console.log('settimeout1');
      Promise.resolve().then(() => {
        console.log('then 5')
      })
    }, 0)

    Promise.resolve().then(() => {
      console.log(3)
      setTimeout(() => {
        console.log('settimeout12')
      }, 0)
    })
    console.log('script1')
    // 最终结果：
    // script1
    // 1
    // 3
    // 2
    // 4
    // settimeout1
    // then 5
    // settimeout12

  </script>
  <!-- <script>
     setTimeout(() => {
      console.log('settimeout2')
    })
    Promise.resolve().then(() => {
      console.log(4)
      Promise.resolve().then(() => {
        console.log(5)
      })
    })

    Promise.resolve().then(() => {
      console.log(6)
    })
    console.log('script2')

  </script> -->
  <script>
    let data = [];
    const trArr = document.querySelector('body tr');
    let sortArr = [];
    let pre = 0;
    trArr.forEach((tr, index) => {
      const tds = tr.querySelector('td');
      const date = tds[0].innerText;
      data.push({
        date: date,
        count: tds[1].innerText
      });
      if (index !== 0) {
        sortArr.push(new Date(pre).getTime() - new Date(date).getTime() > 0);
      }
      pre = date;
    })

    let sortFn = (a, b) => new Date(a.date).getTime() - new Date(b.date).getTime() > 0;
    if (sortArr.every(n => n)) { // desc
      sortFn = (a, b) => new Date(b.date).getTime() - new Date(a.date).getTime() > 0;
    }
    data = data.sort(sortFn);

    trArr.forEach((tr, index) => {
      const tds = tr.querySelector('td');
      tds[0].innerText = data[index].date;
      tds[1].innerText = data[index].count;
    })

    function split(count) {
      // if (count % 2 !== 0) {
      //   return [count]
      // }
      let result = [];

      loop(count)

      function loop(count) {
        let other = count / 2;
        if (count > 2) {
          if (other % 2 == 0) {
            result.push(2);
            loop(other)
          } else {
            let t = Math.floor(other)
            // TODO 未完成全
            for(let i = 1; i <= t; i ++) {
              if (i !== 1 && i !== t && t % i === 0) {
                result.push(i);
              }
            }
          }
        }
      }

    }

  </script>
</head>
<body>
  <div>
    <div class="move-block">移动区</div>
  </div>
</body>
</html>